spring:
  datasource:
    url: jdbc:mysql://localhost:3306/daily_report?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  thymeleaf:
    cache: false
  batch:
    jdbc:
      initialize-schema: always

file:
  upload-dir: uploads

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
